.invisible{
    color:white;
    background-color: white;
    
}
.letter{
    border-bottom:2px solid black;
    padding:10px;
    margin:10px;   
}
.word-container{
    display: flex;
    flex-direction: row;
}
.incorrect-btn{
background:red;
}
.correct-btn{
    background:green;
}
.btn-container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:70%;
}
.btn{
    background-color: aliceblue;
    border:1px solid blue;
    font-size:2rem;
    padding:1rem;
    cursor:pointer;
    transition: all .5s ease-in-out;
}
.btn:hover{
    background-color: rgb(163, 169, 174);
    transition: all .5s ease-in-out;
}